 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1313px;
	 height: 1719px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Artboard22x100 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1313px;
	 height: 1718px;
	 z-index:1;
} 

 #oneshotcopy5 
{ 
	 left: 0px; 
	 top: 1175px; 
	 position: absolute; 
	 width: 1313px;
	 height: 544px;
	 z-index:2;
} 

 #STATUTE5 
{ 
	 left: 1289px; 
	 top: 1477px; 
	 position: absolute; 
	 width: 23px;
	 height: 141px;
	 z-index:3;
} 

 #layer_5 
{ 
	 left: 515px; 
	 top: 1275px; 
	 position: absolute; 
	 width: 99px;
	 height: 99px;
	 z-index:4;
} 

 #ig5 
{ 
	 left: 985px; 
	 top: 1387px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:5;
} 

 #facebookblacksocialb 
{ 
	 left: 927px; 
	 top: 1387px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:6;
} 

 #Rectangle245 
{ 
	 left: 18px; 
	 top: 1238px; 
	 position: absolute; 
	 width: 464px;
	 height: 199px;
	 z-index:7;
} 

 #Rectangle255 
{ 
	 left: 928px; 
	 top: 1476px; 
	 position: absolute; 
	 width: 241px;
	 height: 62px;
	 z-index:8;
} 

 #Layer15055 
{ 
	 left: 946px; 
	 top: 1489px; 
	 position: absolute; 
	 width: 37px;
	 height: 36px;
	 z-index:9;
} 

 #DONATE5 
{ 
	 left: 1009px; 
	 top: 1495px; 
	 position: absolute; 
	 width: 131px;
	 height: 23px;
	 z-index:10;
} 

 #Rectangle25copy5 
{ 
	 left: 928px; 
	 top: 1566px; 
	 position: absolute; 
	 width: 242px;
	 height: 53px;
	 z-index:11;
} 

 #HOWTOSUBMIT5 
{ 
	 left: 939px; 
	 top: 1584px; 
	 position: absolute; 
	 width: 219px;
	 height: 19px;
	 z-index:12;
} 

 #Rectangle265 
{ 
	 left: 1149px; 
	 top: 1667px; 
	 position: absolute; 
	 width: 164px;
	 height: 59px;
	 z-index:13;
} 

 #KUNSTTECH20205 
{ 
	 left: 1185px; 
	 top: 1681px; 
	 position: absolute; 
	 width: 105px;
	 height: 8px;
	 z-index:14;
} 

 #layer_5_0 
{ 
	 left: 1173px; 
	 top: 1681px; 
	 position: absolute; 
	 width: 8px;
	 height: 8px;
	 z-index:15;
} 

 #ARMENIA5 
{ 
	 left: 14px; 
	 top: 1477px; 
	 position: absolute; 
	 width: 633px;
	 height: 211px;
	 z-index:16;
} 

 #LOGO 
{ 
	 left: 37px; 
	 top: 60px; 
	 position: absolute; 
	 width: 245px;
	 height: 47px;
	 z-index:17;
} 

 #sponsors8 
{ 
	 left: 881px; 
	 top: 63px; 
	 position: absolute; 
	 width: 65px;
	 height: 11px;
	 z-index:18;
} 

 #statute8 
{ 
	 left: 673px; 
	 top: 62px; 
	 position: absolute; 
	 width: 52px;
	 height: 10px;
	 z-index:19;
} 

 #Rectangle288 
{ 
	 left: 735px; 
	 top: 79px; 
	 position: absolute; 
	 width: 22px;
	 height: 22px;
	 z-index:20;
} 

 #press8 
{ 
	 left: 967px; 
	 top: 93px; 
	 position: absolute; 
	 width: 38px;
	 height: 11px;
	 z-index:21;
} 

 #aboutus8 
{ 
	 left: 1026px; 
	 top: 63px; 
	 position: absolute; 
	 width: 64px;
	 height: 12px;
	 z-index:22;
} 

 #archive8 
{ 
	 left: 1110px; 
	 top: 88px; 
	 position: absolute; 
	 width: 53px;
	 height: 12px;
	 z-index:23;
} 

 #Shape18 
{ 
	 left: 1013px; 
	 top: 60px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:24;
} 

 #Shape1copy48 
{ 
	 left: 868px; 
	 top: 59px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:25;
} 

 #Shape1copy58 
{ 
	 left: 734px; 
	 top: 59px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:26;
} 

 #Shape1copy8 
{ 
	 left: 954px; 
	 top: 60px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:27;
} 

 #Shape1copy28 
{ 
	 left: 1097px; 
	 top: 58px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:28;
} 

 #Shape1copy38 
{ 
	 left: 1169px; 
	 top: 58px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:29;
} 

 #RoundedRectangle18 
{ 
	 left: 1221px; 
	 top: 71px; 
	 position: absolute; 
	 width: 56px;
	 height: 19px;
	 z-index:30;
} 

 #ARM8 
{ 
	 left: 1229px; 
	 top: 74px; 
	 position: absolute; 
	 width: 40px;
	 height: 13px;
	 z-index:31;
} 

 #salesexhibition8 
{ 
	 left: 747px; 
	 top: 88px; 
	 position: absolute; 
	 width: 113px;
	 height: 11px;
	 z-index:32;
} 
