 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1313px;
	 height: 1696px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Artboard32x100 
{ 
	 left: -31px; 
	 top: 242px; 
	 position: absolute; 
	 width: 1360px;
	 height: 827px;
	 z-index:1;
} 

 #oneshotcopy5 
{ 
	 left: 0px; 
	 top: 1145px; 
	 position: absolute; 
	 width: 1312px;
	 height: 551px;
	 z-index:2;
} 

 #STATUTE5 
{ 
	 left: 1286px; 
	 top: 1447px; 
	 position: absolute; 
	 width: 23px;
	 height: 141px;
	 z-index:3;
} 

 #layer_5 
{ 
	 left: 512px; 
	 top: 1245px; 
	 position: absolute; 
	 width: 99px;
	 height: 99px;
	 z-index:4;
} 

 #layer_14887640061543238901 
{ 
	 left: 1041px; 
	 top: 1357px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:5;
} 

 #ig5 
{ 
	 left: 982px; 
	 top: 1357px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:6;
} 

 #facebookblacksocialb 
{ 
	 left: 924px; 
	 top: 1357px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:7;
} 

 #Rectangle245 
{ 
	 left: 15px; 
	 top: 1208px; 
	 position: absolute; 
	 width: 464px;
	 height: 199px;
	 z-index:8;
} 

 #Rectangle255 
{ 
	 left: 925px; 
	 top: 1446px; 
	 position: absolute; 
	 width: 241px;
	 height: 62px;
	 z-index:9;
} 

 #Layer15055 
{ 
	 left: 943px; 
	 top: 1459px; 
	 position: absolute; 
	 width: 37px;
	 height: 36px;
	 z-index:10;
} 

 #DONATE5 
{ 
	 left: 1006px; 
	 top: 1465px; 
	 position: absolute; 
	 width: 131px;
	 height: 23px;
	 z-index:11;
} 

 #Rectangle25copy5 
{ 
	 left: 925px; 
	 top: 1536px; 
	 position: absolute; 
	 width: 242px;
	 height: 53px;
	 z-index:12;
} 

 #HOWTOSUBMIT5 
{ 
	 left: 936px; 
	 top: 1554px; 
	 position: absolute; 
	 width: 219px;
	 height: 19px;
	 z-index:13;
} 

 #Rectangle265 
{ 
	 left: 1146px; 
	 top: 1637px; 
	 position: absolute; 
	 width: 164px;
	 height: 59px;
	 z-index:14;
} 

 #KUNSTTECH20205 
{ 
	 left: 1182px; 
	 top: 1651px; 
	 position: absolute; 
	 width: 105px;
	 height: 8px;
	 z-index:15;
} 

 #layer_5_0 
{ 
	 left: 1170px; 
	 top: 1651px; 
	 position: absolute; 
	 width: 8px;
	 height: 8px;
	 z-index:16;
} 

 #ARMENIA5 
{ 
	 left: 11px; 
	 top: 1447px; 
	 position: absolute; 
	 width: 633px;
	 height: 211px;
	 z-index:17;
} 

 #LOGO 
{ 
	 left: 50px; 
	 top: 56px; 
	 position: absolute; 
	 width: 245px;
	 height: 47px;
	 z-index:18;
} 

 #sponsors8 
{ 
	 left: 894px; 
	 top: 59px; 
	 position: absolute; 
	 width: 65px;
	 height: 11px;
	 z-index:19;
} 

 #statute8 
{ 
	 left: 686px; 
	 top: 58px; 
	 position: absolute; 
	 width: 52px;
	 height: 10px;
	 z-index:20;
} 

 #Rectangle288 
{ 
	 left: 748px; 
	 top: 75px; 
	 position: absolute; 
	 width: 22px;
	 height: 22px;
	 z-index:21;
} 

 #press8 
{ 
	 left: 980px; 
	 top: 89px; 
	 position: absolute; 
	 width: 38px;
	 height: 11px;
	 z-index:22;
} 

 #aboutus8 
{ 
	 left: 1039px; 
	 top: 59px; 
	 position: absolute; 
	 width: 64px;
	 height: 12px;
	 z-index:23;
} 

 #archive8 
{ 
	 left: 1123px; 
	 top: 84px; 
	 position: absolute; 
	 width: 53px;
	 height: 12px;
	 z-index:24;
} 

 #Shape18 
{ 
	 left: 1026px; 
	 top: 56px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:25;
} 

 #Shape1copy48 
{ 
	 left: 881px; 
	 top: 55px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:26;
} 

 #Shape1copy58 
{ 
	 left: 747px; 
	 top: 55px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:27;
} 

 #Shape1copy8 
{ 
	 left: 967px; 
	 top: 56px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:28;
} 

 #Shape1copy28 
{ 
	 left: 1110px; 
	 top: 54px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:29;
} 

 #Shape1copy38 
{ 
	 left: 1182px; 
	 top: 54px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:30;
} 

 #RoundedRectangle18 
{ 
	 left: 1234px; 
	 top: 67px; 
	 position: absolute; 
	 width: 56px;
	 height: 19px;
	 z-index:31;
} 

 #ARM8 
{ 
	 left: 1242px; 
	 top: 70px; 
	 position: absolute; 
	 width: 40px;
	 height: 13px;
	 z-index:32;
} 

 #salesexhibition8 
{ 
	 left: 760px; 
	 top: 84px; 
	 position: absolute; 
	 width: 113px;
	 height: 11px;
	 z-index:33;
} 
