 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1313px;
	 height: 1967px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1313px;
	 height: 1967px;
	 z-index:1;
} 

 #Rectangle27 
{ 
	 left: 179px; 
	 top: 465px; 
	 position: absolute; 
	 width: 109px;
	 height: 25px;
	 z-index:2;
} 

 #Rectangle27copy 
{ 
	 left: 179px; 
	 top: 541px; 
	 position: absolute; 
	 width: 109px;
	 height: 26px;
	 z-index:3;
} 

 #Rectangle27copy2 
{ 
	 left: 179px; 
	 top: 618px; 
	 position: absolute; 
	 width: 109px;
	 height: 26px;
	 z-index:4;
} 

 #Rectangle19 
{ 
	 left: 267px; 
	 top: 448px; 
	 position: absolute; 
	 width: 352px;
	 height: 60px;
	 z-index:5;
} 

 #layer_6 
{ 
	 left: 286px; 
	 top: 466px; 
	 position: absolute; 
	 width: 314px;
	 height: 24px;
	 z-index:6;
} 

 #Rectangle19_0 
{ 
	 left: 267px; 
	 top: 525px; 
	 position: absolute; 
	 width: 264px;
	 height: 59px;
	 z-index:7;
} 

 #layer_8 
{ 
	 left: 286px; 
	 top: 542px; 
	 position: absolute; 
	 width: 219px;
	 height: 27px;
	 z-index:8;
} 

 #Rectangle19_1 
{ 
	 left: 267px; 
	 top: 602px; 
	 position: absolute; 
	 width: 435px;
	 height: 59px;
	 z-index:9;
} 

 #layer_10 
{ 
	 left: 285px; 
	 top: 620px; 
	 position: absolute; 
	 width: 404px;
	 height: 24px;
	 z-index:10;
} 

 #layer_11 
{ 
	 left: 180px; 
	 top: 222px; 
	 position: absolute; 
	 width: 787px;
	 height: 121px;
	 z-index:11;
} 

 #Rectangle18copy4 
{ 
	 left: 179px; 
	 top: 359px; 
	 position: absolute; 
	 width: 1115px;
	 height: 34px;
	 z-index:12;
} 

 #oneshotcopy 
{ 
	 left: -303px; 
	 top: 1417px; 
	 position: absolute; 
	 width: 1920px;
	 height: 549px;
	 z-index:13;
} 

 #layer_13 
{ 
	 left: 15px; 
	 top: 1718px; 
	 position: absolute; 
	 width: 633px;
	 height: 211px;
	 z-index:14;
} 

 #layer_15 
{ 
	 left: 667px; 
	 top: 1724px; 
	 position: absolute; 
	 width: 189px;
	 height: 16px;
	 z-index:15;
} 

 #layer_16 
{ 
	 left: 667px; 
	 top: 1750px; 
	 position: absolute; 
	 width: 85px;
	 height: 18px;
	 z-index:16;
} 

 #layer_17 
{ 
	 left: 667px; 
	 top: 1779px; 
	 position: absolute; 
	 width: 132px;
	 height: 17px;
	 z-index:17;
} 

 #layer_18 
{ 
	 left: 667px; 
	 top: 1806px; 
	 position: absolute; 
	 width: 82px;
	 height: 17px;
	 z-index:18;
} 

 #layer_19 
{ 
	 left: 667px; 
	 top: 1833px; 
	 position: absolute; 
	 width: 96px;
	 height: 17px;
	 z-index:19;
} 

 #layer_20 
{ 
	 left: 667px; 
	 top: 1860px; 
	 position: absolute; 
	 width: 200px;
	 height: 17px;
	 z-index:20;
} 

 #layer_21 
{ 
	 left: 667px; 
	 top: 1887px; 
	 position: absolute; 
	 width: 192px;
	 height: 16px;
	 z-index:21;
} 

 #layer_22 
{ 
	 left: 667px; 
	 top: 1914px; 
	 position: absolute; 
	 width: 133px;
	 height: 16px;
	 z-index:22;
} 

 #layer_23 
{ 
	 left: 1296px; 
	 top: 1594px; 
	 position: absolute; 
	 width: 17px;
	 height: 239px;
	 z-index:23;
} 

 #layer_24 
{ 
	 left: 517px; 
	 top: 1517px; 
	 position: absolute; 
	 width: 99px;
	 height: 99px;
	 z-index:24;
} 

 #layer_14887640061543238901 
{ 
	 left: 1046px; 
	 top: 1629px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:25;
} 

 #ig 
{ 
	 left: 987px; 
	 top: 1629px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:26;
} 

 #facebookblacksocialb 
{ 
	 left: 929px; 
	 top: 1629px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:27;
} 

 #Rectangle24 
{ 
	 left: 20px; 
	 top: 1480px; 
	 position: absolute; 
	 width: 464px;
	 height: 199px;
	 z-index:28;
} 

 #Rectangle25 
{ 
	 left: 929px; 
	 top: 1718px; 
	 position: absolute; 
	 width: 242px;
	 height: 63px;
	 z-index:29;
} 

 #Layer2 
{ 
	 left: 948px; 
	 top: 1731px; 
	 position: absolute; 
	 width: 37px;
	 height: 36px;
	 z-index:30;
} 

 #layer_31 
{ 
	 left: 998px; 
	 top: 1740px; 
	 position: absolute; 
	 width: 157px;
	 height: 19px;
	 z-index:31;
} 

 #Rectangle25copy 
{ 
	 left: 929px; 
	 top: 1799px; 
	 position: absolute; 
	 width: 291px;
	 height: 63px;
	 z-index:32;
} 

 #layer_33 
{ 
	 left: 948px; 
	 top: 1822px; 
	 position: absolute; 
	 width: 257px;
	 height: 18px;
	 z-index:33;
} 

 #Rectangle26 
{ 
	 left: 1150px; 
	 top: 1909px; 
	 position: absolute; 
	 width: 165px;
	 height: 60px;
	 z-index:34;
} 

 #KUNSTTECH2020 
{ 
	 left: 1187px; 
	 top: 1923px; 
	 position: absolute; 
	 width: 105px;
	 height: 8px;
	 z-index:35;
} 

 #layer_36 
{ 
	 left: 1175px; 
	 top: 1923px; 
	 position: absolute; 
	 width: 8px;
	 height: 8px;
	 z-index:36;
} 

 #LOGO 
{ 
	 left: 35px; 
	 top: 37px; 
	 position: absolute; 
	 width: 245px;
	 height: 47px;
	 z-index:37;
} 

 #layer_38 
{ 
	 left: 794px; 
	 top: 43px; 
	 position: absolute; 
	 width: 122px;
	 height: 15px;
	 z-index:38;
} 

 #layer_39 
{ 
	 left: 431px; 
	 top: 43px; 
	 position: absolute; 
	 width: 139px;
	 height: 15px;
	 z-index:39;
} 

 #Rectangle28 
{ 
	 left: 580px; 
	 top: 62px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:40;
} 

 #layer_41 
{ 
	 left: 936px; 
	 top: 73px; 
	 position: absolute; 
	 width: 52px;
	 height: 15px;
	 z-index:41;
} 

 #layer_42 
{ 
	 left: 1009px; 
	 top: 43px; 
	 position: absolute; 
	 width: 83px;
	 height: 15px;
	 z-index:42;
} 

 #layer_43 
{ 
	 left: 1112px; 
	 top: 73px; 
	 position: absolute; 
	 width: 56px;
	 height: 15px;
	 z-index:43;
} 

 #Shape1 
{ 
	 left: 998px; 
	 top: 43px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:44;
} 

 #Shape1copy4 
{ 
	 left: 780px; 
	 top: 43px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:45;
} 

 #Shape1copy5 
{ 
	 left: 580px; 
	 top: 43px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:46;
} 

 #Shape1copy 
{ 
	 left: 924px; 
	 top: 43px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:47;
} 

 #Shape1copy2 
{ 
	 left: 1099px; 
	 top: 43px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:48;
} 

 #Shape1copy3 
{ 
	 left: 1172px; 
	 top: 43px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:49;
} 

 #RoundedRectangle1 
{ 
	 left: 1224px; 
	 top: 55px; 
	 position: absolute; 
	 width: 56px;
	 height: 20px;
	 z-index:50;
} 

 #ENG 
{ 
	 left: 1234px; 
	 top: 59px; 
	 position: absolute; 
	 width: 36px;
	 height: 13px;
	 z-index:51;
} 

 #layer_52 
{ 
	 left: 593px; 
	 top: 73px; 
	 position: absolute; 
	 width: 180px;
	 height: 14px;
	 z-index:52;
} 
