 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1313px;
	 height: 2625px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1313px;
	 height: 2625px;
	 z-index:1;
} 

 #Layer1163 
{ 
	 left: 259px; 
	 top: 437px; 
	 position: absolute; 
	 width: 143px;
	 height: 253px;
	 z-index:2;
} 

 #Layer1163_0 
{ 
	 left: 583px; 
	 top: 437px; 
	 position: absolute; 
	 width: 219px;
	 height: 253px;
	 z-index:3;
} 

 #Layer1163_1 
{ 
	 left: 906px; 
	 top: 437px; 
	 position: absolute; 
	 width: 252px;
	 height: 253px;
	 z-index:4;
} 

 #Layer1163_2 
{ 
	 left: 259px; 
	 top: 838px; 
	 position: absolute; 
	 width: 159px;
	 height: 278px;
	 z-index:5;
} 

 #Layer1163_3 
{ 
	 left: 583px; 
	 top: 838px; 
	 position: absolute; 
	 width: 182px;
	 height: 253px;
	 z-index:6;
} 

 #Layer1163_4 
{ 
	 left: 906px; 
	 top: 838px; 
	 position: absolute; 
	 width: 186px;
	 height: 253px;
	 z-index:7;
} 

 #Layer1163_5 
{ 
	 left: 259px; 
	 top: 1240px; 
	 position: absolute; 
	 width: 151px;
	 height: 253px;
	 z-index:8;
} 

 #Layer1163_6 
{ 
	 left: 583px; 
	 top: 1240px; 
	 position: absolute; 
	 width: 176px;
	 height: 253px;
	 z-index:9;
} 

 #Layer1163_7 
{ 
	 left: 905px; 
	 top: 1240px; 
	 position: absolute; 
	 width: 181px;
	 height: 253px;
	 z-index:10;
} 

 #Layer1163_8 
{ 
	 left: 255px; 
	 top: 1641px; 
	 position: absolute; 
	 width: 157px;
	 height: 253px;
	 z-index:11;
} 

 #Layer1163_9 
{ 
	 left: 583px; 
	 top: 1645px; 
	 position: absolute; 
	 width: 275px;
	 height: 249px;
	 z-index:12;
} 

 #Layer1163_10 
{ 
	 left: 906px; 
	 top: 1641px; 
	 position: absolute; 
	 width: 207px;
	 height: 253px;
	 z-index:13;
} 

 #layer_1 
{ 
	 left: 607px; 
	 top: 2002px; 
	 position: absolute; 
	 width: 13px;
	 height: 31px;
	 z-index:14;
} 

 #layer_2 
{ 
	 left: 647px; 
	 top: 2002px; 
	 position: absolute; 
	 width: 17px;
	 height: 22px;
	 z-index:15;
} 

 #layer_3 
{ 
	 left: 690px; 
	 top: 2002px; 
	 position: absolute; 
	 width: 17px;
	 height: 22px;
	 z-index:16;
} 

 #layer_17 
{ 
	 left: 182px; 
	 top: 314px; 
	 position: absolute; 
	 width: 238px;
	 height: 29px;
	 z-index:17;
} 

 #Rectangle18copy4 
{ 
	 left: 181px; 
	 top: 360px; 
	 position: absolute; 
	 width: 1114px;
	 height: 33px;
	 z-index:18;
} 

 #oneshotcopy 
{ 
	 left: 0px; 
	 top: 2075px; 
	 position: absolute; 
	 width: 1313px;
	 height: 549px;
	 z-index:19;
} 

 #layer_13 
{ 
	 left: 15px; 
	 top: 2376px; 
	 position: absolute; 
	 width: 633px;
	 height: 211px;
	 z-index:20;
} 

 #layer_21 
{ 
	 left: 667px; 
	 top: 2382px; 
	 position: absolute; 
	 width: 189px;
	 height: 16px;
	 z-index:21;
} 

 #layer_22 
{ 
	 left: 667px; 
	 top: 2408px; 
	 position: absolute; 
	 width: 85px;
	 height: 18px;
	 z-index:22;
} 

 #layer_23 
{ 
	 left: 667px; 
	 top: 2437px; 
	 position: absolute; 
	 width: 132px;
	 height: 17px;
	 z-index:23;
} 

 #layer_24 
{ 
	 left: 667px; 
	 top: 2464px; 
	 position: absolute; 
	 width: 82px;
	 height: 17px;
	 z-index:24;
} 

 #layer_25 
{ 
	 left: 667px; 
	 top: 2491px; 
	 position: absolute; 
	 width: 96px;
	 height: 17px;
	 z-index:25;
} 

 #layer_26 
{ 
	 left: 667px; 
	 top: 2518px; 
	 position: absolute; 
	 width: 200px;
	 height: 17px;
	 z-index:26;
} 

 #layer_27 
{ 
	 left: 667px; 
	 top: 2545px; 
	 position: absolute; 
	 width: 192px;
	 height: 16px;
	 z-index:27;
} 

 #layer_28 
{ 
	 left: 667px; 
	 top: 2572px; 
	 position: absolute; 
	 width: 133px;
	 height: 16px;
	 z-index:28;
} 

 #layer_29 
{ 
	 left: 1296px; 
	 top: 2252px; 
	 position: absolute; 
	 width: 17px;
	 height: 239px;
	 z-index:29;
} 

 #layer_30 
{ 
	 left: 517px; 
	 top: 2175px; 
	 position: absolute; 
	 width: 99px;
	 height: 99px;
	 z-index:30;
} 

 #layer_14887640061543238901 
{ 
	 left: 1046px; 
	 top: 2287px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:31;
} 

 #ig 
{ 
	 left: 987px; 
	 top: 2287px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:32;
} 

 #facebookblacksocialb 
{ 
	 left: 929px; 
	 top: 2287px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:33;
} 

 #Rectangle24 
{ 
	 left: 20px; 
	 top: 2138px; 
	 position: absolute; 
	 width: 464px;
	 height: 199px;
	 z-index:34;
} 

 #Rectangle25 
{ 
	 left: 930px; 
	 top: 2376px; 
	 position: absolute; 
	 width: 241px;
	 height: 63px;
	 z-index:35;
} 

 #Layer1164 
{ 
	 left: 948px; 
	 top: 2389px; 
	 position: absolute; 
	 width: 37px;
	 height: 36px;
	 z-index:36;
} 

 #layer_37 
{ 
	 left: 998px; 
	 top: 2398px; 
	 position: absolute; 
	 width: 157px;
	 height: 19px;
	 z-index:37;
} 

 #Rectangle25copy 
{ 
	 left: 930px; 
	 top: 2457px; 
	 position: absolute; 
	 width: 290px;
	 height: 63px;
	 z-index:38;
} 

 #layer_39 
{ 
	 left: 948px; 
	 top: 2480px; 
	 position: absolute; 
	 width: 257px;
	 height: 18px;
	 z-index:39;
} 

 #Rectangle26 
{ 
	 left: 1151px; 
	 top: 2567px; 
	 position: absolute; 
	 width: 164px;
	 height: 60px;
	 z-index:40;
} 

 #KUNSTTECH2020 
{ 
	 left: 1187px; 
	 top: 2581px; 
	 position: absolute; 
	 width: 105px;
	 height: 8px;
	 z-index:41;
} 

 #layer_42 
{ 
	 left: 1175px; 
	 top: 2581px; 
	 position: absolute; 
	 width: 8px;
	 height: 8px;
	 z-index:42;
} 

 #LOGO 
{ 
	 left: 35px; 
	 top: 42px; 
	 position: absolute; 
	 width: 245px;
	 height: 47px;
	 z-index:43;
} 

 #layer_44 
{ 
	 left: 794px; 
	 top: 48px; 
	 position: absolute; 
	 width: 122px;
	 height: 15px;
	 z-index:44;
} 

 #layer_45 
{ 
	 left: 431px; 
	 top: 48px; 
	 position: absolute; 
	 width: 139px;
	 height: 15px;
	 z-index:45;
} 

 #Rectangle28 
{ 
	 left: 581px; 
	 top: 68px; 
	 position: absolute; 
	 width: 22px;
	 height: 22px;
	 z-index:46;
} 

 #layer_47 
{ 
	 left: 936px; 
	 top: 78px; 
	 position: absolute; 
	 width: 52px;
	 height: 15px;
	 z-index:47;
} 

 #layer_48 
{ 
	 left: 1009px; 
	 top: 48px; 
	 position: absolute; 
	 width: 83px;
	 height: 15px;
	 z-index:48;
} 

 #layer_49 
{ 
	 left: 1112px; 
	 top: 78px; 
	 position: absolute; 
	 width: 56px;
	 height: 15px;
	 z-index:49;
} 

 #Shape1 
{ 
	 left: 998px; 
	 top: 48px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:50;
} 

 #Shape1copy4 
{ 
	 left: 780px; 
	 top: 48px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:51;
} 

 #Shape1copy5 
{ 
	 left: 580px; 
	 top: 48px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:52;
} 

 #Shape1copy 
{ 
	 left: 924px; 
	 top: 48px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:53;
} 

 #Shape1copy2 
{ 
	 left: 1099px; 
	 top: 48px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:54;
} 

 #Shape1copy3 
{ 
	 left: 1172px; 
	 top: 48px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:55;
} 

 #RoundedRectangle1 
{ 
	 left: 1224px; 
	 top: 61px; 
	 position: absolute; 
	 width: 56px;
	 height: 19px;
	 z-index:56;
} 

 #ENG 
{ 
	 left: 1234px; 
	 top: 64px; 
	 position: absolute; 
	 width: 36px;
	 height: 13px;
	 z-index:57;
} 

 #layer_58 
{ 
	 left: 593px; 
	 top: 78px; 
	 position: absolute; 
	 width: 180px;
	 height: 14px;
	 z-index:58;
} 
