 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1354px;
	 height: 2198px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #ABOUTUS 
{ 
	 left: 174px; 
	 top: 325px; 
	 position: absolute; 
	 width: 336px;
	 height: 47px;
	 z-index:1;
} 

 #Rectangle18 
{ 
	 left: 180px; 
	 top: 403px; 
	 position: absolute; 
	 width: 468px;
	 height: 43px;
	 z-index:2;
} 

 #HISTORY 
{ 
	 left: 465px; 
	 top: 422px; 
	 position: absolute; 
	 width: 180px;
	 height: 24px;
	 z-index:3;
} 

 #Rectangle18copy 
{ 
	 left: 303px; 
	 top: 1287px; 
	 position: absolute; 
	 width: 317px;
	 height: 49px;
	 z-index:4;
} 

 #Rectangle18copy2 
{ 
	 left: 317px; 
	 top: 1294px; 
	 position: absolute; 
	 width: 31px;
	 height: 34px;
	 z-index:5;
} 

 #Rectangle18copy3 
{ 
	 left: 360px; 
	 top: 1299px; 
	 position: absolute; 
	 width: 44px;
	 height: 25px;
	 z-index:6;
} 

 #Ellipse1 
{ 
	 left: 411px; 
	 top: 1299px; 
	 position: absolute; 
	 width: 27px;
	 height: 24px;
	 z-index:7;
} 

 #STAFF 
{ 
	 left: 467px; 
	 top: 1298px; 
	 position: absolute; 
	 width: 123px;
	 height: 30px;
	 z-index:8;
} 

 #ONESHOTInternational 
{ 
	 left: 356px; 
	 top: 679px; 
	 position: absolute; 
	 width: 577px;
	 height: 163px;
	 z-index:9;
} 

 #since2003 
{ 
	 left: 321px; 
	 top: 677px; 
	 position: absolute; 
	 width: 22px;
	 height: 163px;
	 z-index:10;
} 

 #Symbolofthefestivalr 
{ 
	 left: 373px; 
	 top: 1071px; 
	 position: absolute; 
	 width: 287px;
	 height: 80px;
	 z-index:11;
} 

 #Rectangle29copy2 
{ 
	 left: 920px; 
	 top: 1359px; 
	 position: absolute; 
	 width: 26px;
	 height: 109px;
	 z-index:12;
} 

 #michaelsiravyan 
{ 
	 left: 923px; 
	 top: 1453px; 
	 position: absolute; 
	 width: 175px;
	 height: 13px;
	 z-index:13;
} 

 #DESIGNER 
{ 
	 left: 922px; 
	 top: 1433px; 
	 position: absolute; 
	 width: 85px;
	 height: 12px;
	 z-index:14;
} 

 #Rectangle29copy 
{ 
	 left: 594px; 
	 top: 1360px; 
	 position: absolute; 
	 width: 26px;
	 height: 128px;
	 z-index:15;
} 

 #SONAMNATSAKANYAN 
{ 
	 left: 596px; 
	 top: 1474px; 
	 position: absolute; 
	 width: 206px;
	 height: 13px;
	 z-index:16;
} 

 #projectcoordinatorin 
{ 
	 left: 597px; 
	 top: 1435px; 
	 position: absolute; 
	 width: 197px;
	 height: 32px;
	 z-index:17;
} 

 #Rectangle29 
{ 
	 left: 313px; 
	 top: 1359px; 
	 position: absolute; 
	 width: 26px;
	 height: 111px;
	 z-index:18;
} 

 #Founderpresident 
{ 
	 left: 315px; 
	 top: 1438px; 
	 position: absolute; 
	 width: 182px;
	 height: 12px;
	 z-index:19;
} 

 #GagikGhazareh 
{ 
	 left: 315px; 
	 top: 1456px; 
	 position: absolute; 
	 width: 160px;
	 height: 12px;
	 z-index:20;
} 

 #Rectangle22copy 
{ 
	 left: 688px; 
	 top: 962px; 
	 position: absolute; 
	 width: 307px;
	 height: 200px;
	 z-index:21;
} 

 #layer_22 
{ 
	 left: 622px; 
	 top: 440px; 
	 position: absolute; 
	 width: 74px;
	 height: 76px;
	 z-index:22;
} 

 #Rectangle20 
{ 
	 left: 992px; 
	 top: 549px; 
	 position: absolute; 
	 width: 483px;
	 height: 57px;
	 z-index:23;
} 

 #Rectangle19 
{ 
	 left: 645px; 
	 top: 468px; 
	 position: absolute; 
	 width: 610px;
	 height: 118px;
	 z-index:24;
} 

 #ONESHOTpromotesindep 
{ 
	 left: 673px; 
	 top: 493px; 
	 position: absolute; 
	 width: 567px;
	 height: 86px;
	 z-index:25;
} 

 #oneshotcopy5 
{ 
	 left: 0px; 
	 top: 1651px; 
	 position: absolute; 
	 width: 1357px;
	 height: 551px;
	 z-index:26;
} 

 #STATUTE5 
{ 
	 left: 1331px; 
	 top: 1953px; 
	 position: absolute; 
	 width: 23px;
	 height: 141px;
	 z-index:27;
} 

 #layer_5 
{ 
	 left: 557px; 
	 top: 1751px; 
	 position: absolute; 
	 width: 99px;
	 height: 99px;
	 z-index:28;
} 

 #layer_14887640061543238901 
{ 
	 left: 1086px; 
	 top: 1863px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:29;
} 

 #ig5 
{ 
	 left: 1027px; 
	 top: 1863px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:30;
} 

 #facebookblacksocialb 
{ 
	 left: 969px; 
	 top: 1863px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:31;
} 

 #Rectangle245 
{ 
	 left: 60px; 
	 top: 1714px; 
	 position: absolute; 
	 width: 464px;
	 height: 199px;
	 z-index:32;
} 

 #Rectangle255 
{ 
	 left: 969px; 
	 top: 1951px; 
	 position: absolute; 
	 width: 242px;
	 height: 63px;
	 z-index:33;
} 

 #Layer15055 
{ 
	 left: 988px; 
	 top: 1965px; 
	 position: absolute; 
	 width: 37px;
	 height: 36px;
	 z-index:34;
} 

 #DONATE5 
{ 
	 left: 1051px; 
	 top: 1971px; 
	 position: absolute; 
	 width: 131px;
	 height: 23px;
	 z-index:35;
} 

 #Rectangle25copy5 
{ 
	 left: 970px; 
	 top: 2042px; 
	 position: absolute; 
	 width: 242px;
	 height: 53px;
	 z-index:36;
} 

 #HOWTOSUBMIT5 
{ 
	 left: 981px; 
	 top: 2060px; 
	 position: absolute; 
	 width: 219px;
	 height: 19px;
	 z-index:37;
} 

 #Rectangle265 
{ 
	 left: 1190px; 
	 top: 2142px; 
	 position: absolute; 
	 width: 165px;
	 height: 60px;
	 z-index:38;
} 

 #KUNSTTECH20205 
{ 
	 left: 1227px; 
	 top: 2157px; 
	 position: absolute; 
	 width: 105px;
	 height: 8px;
	 z-index:39;
} 

 #layer_5_0 
{ 
	 left: 1215px; 
	 top: 2157px; 
	 position: absolute; 
	 width: 8px;
	 height: 8px;
	 z-index:40;
} 

 #ARMENIA5 
{ 
	 left: 56px; 
	 top: 1953px; 
	 position: absolute; 
	 width: 633px;
	 height: 211px;
	 z-index:41;
} 

 #LOGO 
{ 
	 left: 58px; 
	 top: 44px; 
	 position: absolute; 
	 width: 245px;
	 height: 47px;
	 z-index:42;
} 

 #sponsors8 
{ 
	 left: 902px; 
	 top: 47px; 
	 position: absolute; 
	 width: 65px;
	 height: 11px;
	 z-index:43;
} 

 #statute8 
{ 
	 left: 694px; 
	 top: 46px; 
	 position: absolute; 
	 width: 52px;
	 height: 10px;
	 z-index:44;
} 

 #Rectangle288 
{ 
	 left: 755px; 
	 top: 62px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:45;
} 

 #press8 
{ 
	 left: 988px; 
	 top: 77px; 
	 position: absolute; 
	 width: 38px;
	 height: 11px;
	 z-index:46;
} 

 #aboutus8 
{ 
	 left: 1047px; 
	 top: 47px; 
	 position: absolute; 
	 width: 64px;
	 height: 12px;
	 z-index:47;
} 

 #archive8 
{ 
	 left: 1131px; 
	 top: 72px; 
	 position: absolute; 
	 width: 53px;
	 height: 12px;
	 z-index:48;
} 

 #Shape18 
{ 
	 left: 1034px; 
	 top: 44px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:49;
} 

 #Shape1copy48 
{ 
	 left: 889px; 
	 top: 43px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:50;
} 

 #Shape1copy58 
{ 
	 left: 755px; 
	 top: 43px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:51;
} 

 #Shape1copy8 
{ 
	 left: 975px; 
	 top: 44px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:52;
} 

 #Shape1copy28 
{ 
	 left: 1118px; 
	 top: 42px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:53;
} 

 #Shape1copy38 
{ 
	 left: 1190px; 
	 top: 42px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:54;
} 

 #RoundedRectangle18 
{ 
	 left: 1241px; 
	 top: 54px; 
	 position: absolute; 
	 width: 57px;
	 height: 20px;
	 z-index:55;
} 

 #ARM8 
{ 
	 left: 1250px; 
	 top: 58px; 
	 position: absolute; 
	 width: 40px;
	 height: 13px;
	 z-index:56;
} 

 #salesexhibition8 
{ 
	 left: 768px; 
	 top: 72px; 
	 position: absolute; 
	 width: 113px;
	 height: 11px;
	 z-index:57;
} 
