 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1322px;
	 height: 3212px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle19copy 
{ 
	 left: -1px; 
	 top: 2056px; 
	 position: absolute; 
	 width: 22px;
	 height: 440px;
	 z-index:1;
} 

 #layer_2 
{ 
	 left: 20px; 
	 top: 2057px; 
	 position: absolute; 
	 width: 358px;
	 height: 44px;
	 z-index:2;
} 

 #layer_20002100 
{ 
	 left: 670px; 
	 top: 2067px; 
	 position: absolute; 
	 width: 281px;
	 height: 34px;
	 z-index:3;
} 

 #Rectangle20 
{ 
	 left: 661px; 
	 top: 2047px; 
	 position: absolute; 
	 width: 296px;
	 height: 71px;
	 z-index:4;
} 

 #Shape2 
{ 
	 left: 20px; 
	 top: 2154px; 
	 position: absolute; 
	 width: 302px;
	 height: 137px;
	 z-index:5;
} 

 #layer_6 
{ 
	 left: 20px; 
	 top: 2300px; 
	 position: absolute; 
	 width: 358px;
	 height: 44px;
	 z-index:6;
} 

 #layer_21002200 
{ 
	 left: 675px; 
	 top: 2310px; 
	 position: absolute; 
	 width: 277px;
	 height: 34px;
	 z-index:7;
} 

 #Rectangle20_0 
{ 
	 left: 661px; 
	 top: 2290px; 
	 position: absolute; 
	 width: 296px;
	 height: 71px;
	 z-index:8;
} 

 #Rectangle19 
{ 
	 left: 422px; 
	 top: 2395px; 
	 position: absolute; 
	 width: 168px;
	 height: 42px;
	 z-index:9;
} 

 #layer_10 
{ 
	 left: 433px; 
	 top: 2407px; 
	 position: absolute; 
	 width: 146px;
	 height: 19px;
	 z-index:10;
} 

 #layer_11 
{ 
	 left: 199px; 
	 top: 2455px; 
	 position: absolute; 
	 width: 605px;
	 height: 17px;
	 z-index:11;
} 

 #Shape2_0 
{ 
	 left: 201px; 
	 top: 2493px; 
	 position: absolute; 
	 width: 610px;
	 height: 4px;
	 z-index:12;
} 

 #Shape2_1 
{ 
	 left: 666px; 
	 top: 1357px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:13;
} 

 #Shape2_2 
{ 
	 left: 20px; 
	 top: 1541px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:14;
} 

 #Shape2_3 
{ 
	 left: 343px; 
	 top: 1541px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:15;
} 

 #Shape2_4 
{ 
	 left: 20px; 
	 top: 1357px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:16;
} 

 #Shape2_5 
{ 
	 left: 342px; 
	 top: 1905px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:17;
} 

 #Shape2_6 
{ 
	 left: 347px; 
	 top: 1357px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:18;
} 

 #Shape2_7 
{ 
	 left: 666px; 
	 top: 1541px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:19;
} 

 #Shape2_8 
{ 
	 left: 20px; 
	 top: 1725px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:20;
} 

 #Shape2_9 
{ 
	 left: 343px; 
	 top: 1725px; 
	 position: absolute; 
	 width: 301px;
	 height: 103px;
	 z-index:21;
} 

 #Shape2_10 
{ 
	 left: 666px; 
	 top: 1725px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:22;
} 

 #Shape2_11 
{ 
	 left: 20px; 
	 top: 1905px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:23;
} 

 #Rectangle19copy_0 
{ 
	 left: -1px; 
	 top: 1252px; 
	 position: absolute; 
	 width: 22px;
	 height: 750px;
	 z-index:24;
} 

 #layer_25 
{ 
	 left: 19px; 
	 top: 1254px; 
	 position: absolute; 
	 width: 569px;
	 height: 42px;
	 z-index:25;
} 

 #layer_19302000 
{ 
	 left: 672px; 
	 top: 1260px; 
	 position: absolute; 
	 width: 278px;
	 height: 35px;
	 z-index:26;
} 

 #Rectangle20_1 
{ 
	 left: 661px; 
	 top: 1241px; 
	 position: absolute; 
	 width: 301px;
	 height: 68px;
	 z-index:27;
} 

 #portugal 
{ 
	 left: 668px; 
	 top: 1406px; 
	 position: absolute; 
	 width: 35px;
	 height: 22px;
	 z-index:28;
} 

 #Spain 
{ 
	 left: 348px; 
	 top: 1405px; 
	 position: absolute; 
	 width: 35px;
	 height: 23px;
	 z-index:29;
} 

 #india 
{ 
	 left: 667px; 
	 top: 1587px; 
	 position: absolute; 
	 width: 34px;
	 height: 23px;
	 z-index:30;
} 

 #Iran 
{ 
	 left: 20px; 
	 top: 1952px; 
	 position: absolute; 
	 width: 35px;
	 height: 22px;
	 z-index:31;
} 

 #Italy 
{ 
	 left: 20px; 
	 top: 1772px; 
	 position: absolute; 
	 width: 35px;
	 height: 22px;
	 z-index:32;
} 

 #am 
{ 
	 left: 345px; 
	 top: 1774px; 
	 position: absolute; 
	 width: 43px;
	 height: 22px;
	 z-index:33;
} 

 #amcopy13 
{ 
	 left: 20px; 
	 top: 1404px; 
	 position: absolute; 
	 width: 43px;
	 height: 22px;
	 z-index:34;
} 

 #amcopy3 
{ 
	 left: 667px; 
	 top: 1772px; 
	 position: absolute; 
	 width: 43px;
	 height: 22px;
	 z-index:35;
} 

 #amcopy4 
{ 
	 left: 343px; 
	 top: 1587px; 
	 position: absolute; 
	 width: 43px;
	 height: 22px;
	 z-index:36;
} 

 #amcopy5 
{ 
	 left: 345px; 
	 top: 1952px; 
	 position: absolute; 
	 width: 43px;
	 height: 22px;
	 z-index:37;
} 

 #arg 
{ 
	 left: 20px; 
	 top: 1589px; 
	 position: absolute; 
	 width: 35px;
	 height: 22px;
	 z-index:38;
} 

 #USA 
{ 
	 left: 20px; 
	 top: 1001px; 
	 position: absolute; 
	 width: 302px;
	 height: 96px;
	 z-index:39;
} 

 #korea 
{ 
	 left: 343px; 
	 top: 1001px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:40;
} 

 #poland 
{ 
	 left: 668px; 
	 top: 1001px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:41;
} 

 #Shape2_12 
{ 
	 left: 17px; 
	 top: 1113px; 
	 position: absolute; 
	 width: 302px;
	 height: 96px;
	 z-index:42;
} 

 #Shape2_13 
{ 
	 left: 340px; 
	 top: 1113px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:43;
} 

 #am_0 
{ 
	 left: 665px; 
	 top: 1113px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:44;
} 

 #Rectangle19copy_1 
{ 
	 left: -1px; 
	 top: 893px; 
	 position: absolute; 
	 width: 22px;
	 height: 319px;
	 z-index:45;
} 

 #layer_46 
{ 
	 left: 20px; 
	 top: 894px; 
	 position: absolute; 
	 width: 382px;
	 height: 42px;
	 z-index:46;
} 

 #layer_18001930 
{ 
	 left: 679px; 
	 top: 906px; 
	 position: absolute; 
	 width: 266px;
	 height: 35px;
	 z-index:47;
} 

 #Rectangle20_2 
{ 
	 left: 661px; 
	 top: 886px; 
	 position: absolute; 
	 width: 305px;
	 height: 71px;
	 z-index:48;
} 

 #Shape2_14 
{ 
	 left: 19px; 
	 top: 764px; 
	 position: absolute; 
	 width: 303px;
	 height: 96px;
	 z-index:49;
} 

 #Spain_0 
{ 
	 left: 344px; 
	 top: 764px; 
	 position: absolute; 
	 width: 301px;
	 height: 96px;
	 z-index:50;
} 

 #Rectangle19copy_2 
{ 
	 left: -2px; 
	 top: 648px; 
	 position: absolute; 
	 width: 22px;
	 height: 213px;
	 z-index:51;
} 

 #layer_52 
{ 
	 left: 19px; 
	 top: 649px; 
	 position: absolute; 
	 width: 595px;
	 height: 40px;
	 z-index:52;
} 

 #layer_17001800 
{ 
	 left: 672px; 
	 top: 656px; 
	 position: absolute; 
	 width: 294px;
	 height: 35px;
	 z-index:53;
} 

 #Rectangle20_3 
{ 
	 left: 661px; 
	 top: 638px; 
	 position: absolute; 
	 width: 312px;
	 height: 70px;
	 z-index:54;
} 

 #layer_6_0 
{ 
	 left: -1px; 
	 top: 365px; 
	 position: absolute; 
	 width: 952px;
	 height: 185px;
	 z-index:55;
} 

 #oneshotcopy 
{ 
	 left: 0px; 
	 top: 2662px; 
	 position: absolute; 
	 width: 1322px;
	 height: 549px;
	 z-index:56;
} 

 #layer_13 
{ 
	 left: 19px; 
	 top: 2963px; 
	 position: absolute; 
	 width: 633px;
	 height: 211px;
	 z-index:57;
} 

 #layer_58 
{ 
	 left: 671px; 
	 top: 2969px; 
	 position: absolute; 
	 width: 189px;
	 height: 16px;
	 z-index:58;
} 

 #layer_59 
{ 
	 left: 671px; 
	 top: 2995px; 
	 position: absolute; 
	 width: 85px;
	 height: 18px;
	 z-index:59;
} 

 #layer_60 
{ 
	 left: 671px; 
	 top: 3024px; 
	 position: absolute; 
	 width: 132px;
	 height: 17px;
	 z-index:60;
} 

 #layer_61 
{ 
	 left: 671px; 
	 top: 3051px; 
	 position: absolute; 
	 width: 82px;
	 height: 17px;
	 z-index:61;
} 

 #layer_62 
{ 
	 left: 671px; 
	 top: 3078px; 
	 position: absolute; 
	 width: 96px;
	 height: 17px;
	 z-index:62;
} 

 #layer_63 
{ 
	 left: 671px; 
	 top: 3105px; 
	 position: absolute; 
	 width: 200px;
	 height: 17px;
	 z-index:63;
} 

 #layer_64 
{ 
	 left: 671px; 
	 top: 3132px; 
	 position: absolute; 
	 width: 192px;
	 height: 16px;
	 z-index:64;
} 

 #layer_65 
{ 
	 left: 671px; 
	 top: 3159px; 
	 position: absolute; 
	 width: 133px;
	 height: 16px;
	 z-index:65;
} 

 #layer_66 
{ 
	 left: 1300px; 
	 top: 2839px; 
	 position: absolute; 
	 width: 17px;
	 height: 239px;
	 z-index:66;
} 

 #layer_67 
{ 
	 left: 521px; 
	 top: 2762px; 
	 position: absolute; 
	 width: 99px;
	 height: 99px;
	 z-index:67;
} 

 #layer_14887640061543238901 
{ 
	 left: 1050px; 
	 top: 2874px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:68;
} 

 #ig 
{ 
	 left: 991px; 
	 top: 2874px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:69;
} 

 #facebookblacksocialb 
{ 
	 left: 933px; 
	 top: 2874px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:70;
} 

 #Rectangle24 
{ 
	 left: 24px; 
	 top: 2725px; 
	 position: absolute; 
	 width: 464px;
	 height: 199px;
	 z-index:71;
} 

 #layer_72 
{ 
	 left: 927px; 
	 top: 2957px; 
	 position: absolute; 
	 width: 255px;
	 height: 76px;
	 z-index:72;
} 

 #layer_73 
{ 
	 left: 927px; 
	 top: 3038px; 
	 position: absolute; 
	 width: 304px;
	 height: 76px;
	 z-index:73;
} 

 #Rectangle26 
{ 
	 left: 1154px; 
	 top: 3153px; 
	 position: absolute; 
	 width: 165px;
	 height: 60px;
	 z-index:74;
} 

 #KUNSTTECH2020 
{ 
	 left: 1191px; 
	 top: 3168px; 
	 position: absolute; 
	 width: 105px;
	 height: 8px;
	 z-index:75;
} 

 #layer_76 
{ 
	 left: 1179px; 
	 top: 3168px; 
	 position: absolute; 
	 width: 8px;
	 height: 8px;
	 z-index:76;
} 

 #LOGO 
{ 
	 left: 39px; 
	 top: 60px; 
	 position: absolute; 
	 width: 245px;
	 height: 47px;
	 z-index:77;
} 

 #layer_78 
{ 
	 left: 798px; 
	 top: 66px; 
	 position: absolute; 
	 width: 122px;
	 height: 15px;
	 z-index:78;
} 

 #layer_79 
{ 
	 left: 435px; 
	 top: 66px; 
	 position: absolute; 
	 width: 139px;
	 height: 15px;
	 z-index:79;
} 

 #layer_80 
{ 
	 left: 940px; 
	 top: 96px; 
	 position: absolute; 
	 width: 52px;
	 height: 15px;
	 z-index:80;
} 

 #layer_81 
{ 
	 left: 1013px; 
	 top: 66px; 
	 position: absolute; 
	 width: 83px;
	 height: 15px;
	 z-index:81;
} 

 #layer_82 
{ 
	 left: 1116px; 
	 top: 96px; 
	 position: absolute; 
	 width: 56px;
	 height: 15px;
	 z-index:82;
} 

 #Shape1 
{ 
	 left: 1002px; 
	 top: 66px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:83;
} 

 #Shape1copy4 
{ 
	 left: 784px; 
	 top: 66px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:84;
} 

 #Shape1copy5 
{ 
	 left: 584px; 
	 top: 66px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:85;
} 

 #Shape1copy 
{ 
	 left: 928px; 
	 top: 66px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:86;
} 

 #Shape1copy2 
{ 
	 left: 1103px; 
	 top: 66px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:87;
} 

 #Shape1copy3 
{ 
	 left: 1176px; 
	 top: 66px; 
	 position: absolute; 
	 width: 4px;
	 height: 42px;
	 z-index:88;
} 

 #RoundedRectangle1 
{ 
	 left: 1228px; 
	 top: 78px; 
	 position: absolute; 
	 width: 56px;
	 height: 20px;
	 z-index:89;
} 

 #ENG 
{ 
	 left: 1238px; 
	 top: 82px; 
	 position: absolute; 
	 width: 36px;
	 height: 13px;
	 z-index:90;
} 

 #layer_91 
{ 
	 left: 586px; 
	 top: 87px; 
	 position: absolute; 
	 width: 191px;
	 height: 23px;
	 z-index:91;
} 
